.old {
  width: 25%;
  border: 1px solid;
  height: 200px;
  cursor: pointer;
  background: yellow;
}
.new {
  width: 100%;
  border: 1px solid;
  height: 200px;
  cursor: pointer;
  background: green;
}
